@tailwind base;
@tailwind components;
@tailwind utilities;

.operation--update {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--add {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--delete {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
